@font-face {
  font-family: "Arcade Classic";
  src: url("fonts/arcadeclassic.eot");
  src: url("fonts/arcadeclassic.eot?#iefix") format("embedded-opentype"),
    url("fonts/arcadeclassic.woff") format("woff"),
    url("fonts/arcadeclassic.ttf") format("truetype"),
    url("fonts/arcadeclassic.svg#arcadeclassic") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #2d2d2d;
  touch-action: none;

}

main {
  display: flex;
  height: 98vh;
  width: 98vw;
  justify-content: center;
  align-items: center;
  touch-action: manipulation;
}

.canvas {
  position: absolute;
  touch-action: manipulation;
  max-height: 100%;
  max-width: 100%;
  min-width: 350px;
  min-height: auto;
}
